.container{
    margin:0 25% 0 25%;
    width:50%;
}

.form-container {
    position: absolute;
    left: 31%;
    border: 2px solid #f2e3d2;
    background: #b2d982;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#402810), to(#b2d982));*/
    /*background: -webkit-linear-gradient(top, #402810, #b2d982);*/
    /*background: -moz-linear-gradient(top, #402810, #b2d982);*/
    /*background: -ms-linear-gradient(top, #402810, #b2d982);*/
    /*background: -o-linear-gradient(top, #402810, #b2d982);*/
    /*background-image: -ms-linear-gradient(top, #402810 0%, #b2d982 100%);*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;*/
    /*-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;*/
    /*box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;*/
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    min-width:550px;
    padding:20px;
    width:550px;
}
.form-field {
    margin-left: 24%;
    border: 1px solid #c9b7a2;
    background: #e4d5c3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #210805;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field-data {
    margin-left: 21%;
    border: 1px solid #c9b7a2;
    background: #e4d5c3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #210805;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field-data2 {
    margin-left: 19%;
    border: 1px solid #c9b7a2;
    background: #e4d5c3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #210805;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field:focus {
    background: #fff;
    color: #725129;
}
.form-container h2 {
    text-shadow: #ccb9a1 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-left: 32%;
    margin-bottom:10px;
    font-size: 20px;
    color: #210805;
    text-shadow: #ccb9a1 0 1px 0;
}
.form-shop {
    margin-left: 36%;
    margin-bottom:10px;
    color: #210805;
    text-shadow: #ccb9a1 0 1px 0;
}
.form-error {
    margin-bottom:10px;
    font-size: 14px;
    margin-left: 10%;
    color: #ff0400;
}

.form-warnings {
    margin-bottom:10px;
    font-size: 14px;
    margin-left: 10%;
    color: rgb(255, 252, 0);
}
.submit-container {
    margin:8px 0;
    text-align:right;
}
.submit-button {
    border: 1px solid #447314;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #a6cc81 0 1px 0;
    color: #31540c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 1px solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #fff;
}
.title {
    text-align: center;
    font-stretch: expanded;
}
